body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
}

.App{
  padding-left: 100px;
  padding-right: 100px;
}
@media  (max-width: 700px) {
  .App{
    padding-left: 0px;
    padding-right: 0px;
  }
}